@import url(https://fonts.googleapis.com/css?family=Roboto:100,200,300,regular,500,600,700,800,900,100italic,200italic,300italic,italic,500italic,600italic,700italic,800italic,900italic);
:root{
  --btnhover-bg:#222222;
  --bgcolor:#0f0f0f;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
  font-family: roboto;
}
body {
  background-color: var(--bgcolor);
}
nav {
  display: flex;
  width: 100vw;
  height: 60px;
  /* background-color: red; */
}
.navleft {
  display: flex;
  gap: 0.9rem;
  align-items: center;
  padding-left: 1%;
  height: 100%;
  flex: 1;
  /* background-color: rgb(14, 80, 166); */
}
.navleft1 {
  width: 14.2%;
  height:69% ;
  min-width: 42px;
  min-height: 34px;
  padding: 13px;
  padding-inline: 12px;
  background-color: var(--bgcolor);
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
}
.navleft1:hover{
  background-color:var(--btnhover-bg);
  cursor: pointer;
}
.navleft1>svg{
  width: 100%;
  height: 100%;
}
.logo {
  display: flex;
  gap: 0.2rem;
  font-size: 80.5%;
}
.logo:hover{
  cursor: pointer;
}
.logo > div {
  width: 58%;
  height: 2rem;
  min-width: 100px;
  display: block;
  fill: white;
}
.logo >sup {
  color: rgba(230, 230, 235, 0.595);
  margin-left: 0.06rem;
  position: relative;
  bottom: 0.11rem;
}
.navmiddle {
  display: flex;
  justify-content: flex-end;
  padding-right: 1%;
  gap: 15px;
  flex: 4.2;
  align-items: center;
}
.search {
  display: flex;
  width: 68.5%;
  min-width: 390px;
  height: 68%;
  border: 1px solid #2e2e2e;
  border-radius: 2rem;
  overflow: hidden;
  align-items: center;
  background-color: var(--bgcolor);
}
.search:hover{
  cursor: pointer;
}

.search > input {
  width:89.2%;
  background-color: #121212;;
  border: none;
  border-right: 1px solid #3f3f3fac;
  color: white;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  height: 100%;
  outline: none;
}

.search_icon {
  width: 10.8%;
  height: 100%;
  background-color: #222222;
  padding: 6px 0;
}
.mic {
  height: 69%;
  width: 4.6%;
  min-width: 38px;
  padding: 7px;
  background-color: #222222;
  border-radius: 50%;
}
.mic:hover{
  background-color: #454545d2;
  cursor: pointer;
}
.navright {
  display: flex;
  gap: 15px;
  align-items: center;
  justify-content: flex-end;
  padding-right: 2.5rem;
  flex: 2;
}
.themeChange {
  height: 68%;
  width: 10%;
  min-width: 38px;
  padding: 10px;
  background-color: #222222;
  border-radius: 50%;
}
.themeChange:hover{
  cursor: pointer;
  background-color: #454545;
}
.create {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 25%;
  gap: 0.3rem;
  height: 66%;
  background-color: #222222;
  border-radius: 1.2rem;
  min-width: 100px;
}
.plus {
  height: 1.6rem;
  width: 1.6rem;
  /* background-color: #222222; */
}
.create > span {
  font-size: 0.95rem;
  font-weight: 600;
}
.create:hover{
  cursor: pointer;
  background-color: #454545d2;
}
.notifications {
  border-radius: 50%;
  padding: 7.3px;
  height: 68%;
  width: 10%;
  min-width: 38px;
}
.notifications:hover{
  background-color: #222222;
  cursor: pointer;
}

.profile_icon {
  height: 58%;
  width: 8.5%;
  min-width: 32px;
  border-radius: 50%;
  overflow: hidden; 
}
.profile_icon>img{
    object-fit:cover;
}
.profile_icon:hover{
  cursor: pointer;
  border: 1px solid #222222;
}